body {
    /*background-color: rgb(201, 228, 197);*/
    background: linear-gradient(-45deg, #fcb3b3, #f0a2f6, #b68cf6, #8cc9f6, #8cf6cf, #94f68c, #e8f68c);
  	background-size: 400% 400%;
  	animation: gradient 60s ease infinite;
}

h1 {
    margin-left: 20px;
    color: rgb(34, 34, 33);
		text-align: center;
		font-family: "Oxygen", sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.css-selector{

  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  position: static;
  margin:
}
.container{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  	width: 900;
    height: 100px;
    background-color: rgb(255, 255, 255);
}
